In [88]:
import pandas as pd

In [89]:
file = 'en_03.09_Russia_200k.csv' # 修改成你的file name
tweets_df = pd.read_csv(file)
tweets_df.content

/Users/kenny/opt/anaconda3/envs/mlds/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3251: DtypeWarning: Columns (0,1,2,3,4) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

0         In the war between Russia and Ukraine, the ons...
1         @DublinLive #russia can go feck themselves, an...
2         @JackPosobiec Russia can't handle beating Ukra...
3         3. Specifically, the allegation of supply-line...
4         BREAKING: Pharmaceutical titan Pfizer announce...
                                ...
661398    @TerryBe42566337 B-b-b-but Ukraine good, russi...
661399    @RussianEmbassy @mfa_russia @FCDOGovUK @trussl...
661400    Russia is increasingly becoming isolated from ...
661401    @kenckar @bluwafel @ChrisCJackson No just US p...
661402    Iconic US Brands Join Exodus of Western Compan...
Name: content, Length: 661403, dtype: object

# 去除重复的行

In [90]:
# 检查重复的行，
tweets_df[tweets_df.duplicated(keep=False)]

,datetime,id,content,username,language,reply_count,retweet_count,like_count,quote_count
50185,2022-03-09 21:00:01+00:00,1501664125549744129,Trending Now:,NaN,NaN,NaN,NaN,NaN,NaN
50186,#Ukraine | #Russia | #Russian | #War | #After ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50187,2022-03-09 21:00:01+00:00,1501664125549744129,Trending Now:,NaN,NaN,NaN,NaN,NaN,NaN
50188,#Ukraine | #Russia | #Russian | #War | #After ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50189,2022-03-09 21:00:01+00:00,1501664125549744129,Trending Now:,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
589820,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
589821,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
589822,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
589823,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
589824,via https://t.co/wooaMBbZWW,TomPaineToday,en,0,0,0.0,0.0,NaN,NaN

In [91]:
# 检查重复的行，删除重复的行
tweets_df.drop_duplicates(inplace=True)
tweets_df
# 似乎因为爬虫的爬取重复问题，index有点乱？

,datetime,id,content,username,language,reply_count,retweet_count,like_count,quote_count
0,2022-03-09 23:59:59+00:00,1501709415971500034,"In the war between Russia and Ukraine, the ons...",BlackPointIT,en,0.0,0.0,1.0,0.0
1,2022-03-09 23:59:59+00:00,1501709415770214407,"@DublinLive #russia can go feck themselves, an...",Anti_Arsehole,en,0.0,0.0,1.0,0.0
2,2022-03-09 23:59:59+00:00,1501709415681953794,@JackPosobiec Russia can't handle beating Ukra...,Manwmanybeards,en,0.0,0.0,0.0,0.0
3,2022-03-09 23:59:59+00:00,1501709415111864321,"3. Specifically, the allegation of supply-line...",MaitreyaBhakal,en,1.0,8.0,73.0,0.0
4,2022-03-09 23:59:59+00:00,1501709413781893120,BREAKING: Pharmaceutical titan Pfizer announce...,OccupyDemocrats,en,24.0,397.0,1008.0,10.0
...,...,...,...,...,...,...,...,...,...
661398,2022-03-09 13:13:12+00:00,1501546644168269825,"@TerryBe42566337 B-b-b-but Ukraine good, russi...",james_jurow,en,1.0,1.0,9.0,0.0
661399,2022-03-09 13:13:11+00:00,1501546644050960387,@RussianEmbassy @mfa_russia @FCDOGovUK @trussl...,Telemanr,en,0.0,0.0,0.0,0.0
661400,2022-03-09 13:13:11+00:00,1501546642624761860,Russia is increasingly becoming isolated from ...,AtomKnife,en,2.0,34.0,1206.0,0.0
661401,2022-03-09 13:13:11+00:00,1501546640779677696,@kenckar @bluwafel @ChrisCJackson No just US p...,Beverlyparris62,en,0.0,0.0,0.0,0.0
661402,2022-03-09 13:13:11+00:00,1501546640255107072,Iconic US Brands Join Exodus of Western Compan...,Muhabarishaji,en,0.0,0.0,0.0,0.0

# 缺失值检查+去除

In [92]:
tweets_df.isna().sum()

datetime          1
id                3
content           3
username          7
language          7
reply_count       7
retweet_count     7
like_count       10
quote_count      10
dtype: int64

In [93]:
# 移除有content缺失的行
tweets_df.dropna(subset=['content'], inplace=True)
tweets_df.isna().sum()

datetime         0
id               0
content          0
username         4
language         4
reply_count      4
retweet_count    4
like_count       7
quote_count      7
dtype: int64

# 针对content：删除字符

## 主要针对 @和#：区分开，处理

In [94]:
# 看看存在的属性
tmp = tweets_df.content.str.findall("#\w+")
print(tmp[tmp.apply(lambda x: x!=[])]) # 查看存在#的行

tmp = tweets_df.content.str.findall("@\w+")
print(tmp[tmp.apply(lambda x: x!=[])]) # 查看存在@的行

1         [#russia, #Evict, #Ireland, #russianembassy, #...
17        [#PrayForUkraine, #RussiaUkraine, #SaveUkraine...
21        [#Biden, #Democrats, #FJB, #BidenGasCrisis, #B...
41                        [#CleanEnergy, #MethanePollution]
62        [#PrayForUkraine, #RussiaUkraine, #SaveUkraine...
                                ...
661351    [#WorldWar4democracy, #America, #Russia, #Euro...
661353    [#Ukraine, #media, #Russia, #kyiev, #UkraineRu...
661364                  [#Truth, #Justice, #Russia, #Putin]
661367                                            [#Russia]
661386              [#internationalnews, #news, #worldnews]
Name: content, Length: 31215, dtype: object
1                                             [@DublinLive]
2                                           [@JackPosobiec]
7                  [@ToolmanTA, @Mlkman18, @jakeshieldsajj]
9                                             [@guypbenson]
12                                           [@GingersPage]
                                ...
661395                                        [@mfa_russia]
661396                         [@AskMeLaterOn, @TigayBarry]
661398                                   [@TerryBe42566337]
661399    [@RussianEmbassy, @mfa_russia, @FCDOGovUK, @tr...
661401                [@kenckar, @bluwafel, @ChrisCJackson]
Name: content, Length: 125650, dtype: object

In [87]:
tweets_df.content[12]

'@GingersPage She’s a simpleton, but an American simpleton.  So we need to bring her home from her money making trip in Russia'

In [66]:
# tweets_df.content[0:2].str.replace("\n", "").str.replace(r"https*\S+", "",regex=True)[0]

In [95]:
# 移除content的@ 和 \n
tweets_df.content = tweets_df.content.str.replace("\n", "")
# 去除https
tweets_df.content = tweets_df.content.str.replace(r"https*\S+", "", regex=True)
# &符号 -> and
tweets_df.content = tweets_df.content.str.replace("&amp;", "and")

### 移除@和后面的 word!
因为【@word, 通常不是内容的一部分】！

In [ ]:

tweets_df.content = tweets_df.content.str.replace(r"@\w+", "", regex=True)

# tweets_df

In [97]:
tweets_df.content

0         In the war between Russia and Ukraine, the ons...
1          #russia can go feck themselves, and when they...
2          Russia can't handle beating Ukraine let alone...
3         3. Specifically, the allegation of supply-line...
4         BREAKING: Pharmaceutical titan Pfizer announce...
                                ...
661398                  B-b-b-but Ukraine good, russia bad!
661399                           What a load of codswallop.
661400    Russia is increasingly becoming isolated from ...
661401       No just US production of oil has been stran...
661402    Iconic US Brands Join Exodus of Western Compan...
Name: content, Length: 200004, dtype: object

### 只移除#，而保留后面word

In [69]:
# 1提取tag
tmp = tweets_df.content.str.findall("#\w+")
# print(tmp[tmp.apply(lambda x: x!=[])]) # 查看存在#的行

# 新建列接受#的内容，列`tags`
tweets_df['tags'] = tmp # 存为list，新的一列
# print(tmp)

# 2 并移除# 【但保留word】 因为【很多#，是内容的一部分】
# tweets_df.content = tweets_df.content.str.replace(r"#\w+", "", regex=True)
tweets_df.content = tweets_df.content.str.replace(r"#", "", regex=True)

# 最后，上面各种移除后，如果产生多余空格, 改为单个
tweets_df.content = tweets_df.content.str.replace(r'\s{2,}', " ", regex=True)

In [70]:
tweets_df.content

0         In the war between Russia and Ukraine, the ons...
1         DublinLive russia can go feck themselves, and ...
2         JackPosobiec Russia can't handle beating Ukrai...
3         3. Specifically, the allegation of supply-line...
4         BREAKING: Pharmaceutical titan Pfizer announce...
                                ...
661398    TerryBe42566337 B-b-b-but Ukraine good, russia...
661399    RussianEmbassy mfa_russia FCDOGovUK trussliz D...
661400    Russia is increasingly becoming isolated from ...
661401    kenckar bluwafel ChrisCJackson No just US prod...
661402    Iconic US Brands Join Exodus of Western Compan...
Name: content, Length: 200004, dtype: object

# 修改完后，重新存起来

In [47]:
tweets_df.to_csv("processed_" + file,index=False)